
.workplace {
  margin: 20px 0px 50px 0px;
}

h4 {
  text-align: left;
}

h5 {
  margin-bottom: 20px;
}

form {
  display: inline-flex;
  width: 40%;
}

.form-group {
  margin: 10px 10% 8% 10%;
}

.checkbox {
  display: table;
}

.table {
  width: 50%;
}

.protocol {
  width: 30%;
  margin-bottom: 10px;
  text-align: center;
}

.date {
  margin-bottom: 10px;
  text-align: center;
}

.num {
  margin-bottom: 10px;
  text-align: center;
}

.btn-sm {
  padding: 0px;
  width: 35px;
  height: 35px;
  border-radius: 20px;
  border-width: 2px;
}

.btn-primary {
  width: 190px;
  padding: 0px 10px;
}

.btn-warning {
  margin-top: 30px;
}

.th-check {
  width: 20%;
}

i.fa-info {
  margin-bottom: 15%;
}

i.fa-info {
  margin-right: 5px;
}

.itog {
  text-align: center;
}
