
.workplace {
  margin: 20px 0px 50px 0px;
}

h5 {
  margin-bottom: 15px;
}

.table {
  width: 50%;
  margin-top: 10px;
}

.btn-sm {
  height: 35px;
  border-radius: 20px;
  border-width: 2px;
}

.btn-primary {
  width: 190px;
  padding: 0px 10px;
}

select {
  width: 80%;
  margin-left: 1.5em;
}

//---------------------*Модальное окно*---------------------------

.modal-dialog {
  max-width: 60%;
}

.modal-header {
  display: inline;
}

.modal-body {
  text-align: left;
}

.modal-body h3 {
  margin: 0px 0px 20px 0px;
}

.modal-body h5 {
  margin: 0px 10px 10px 10px;
}

.modal-body p {
  margin: 0px 10px 10px 20px;
}

.modal-footer .btn {
  padding: 0.2rem 2rem;
}
