
.workplace {
  margin: 20px 0px 50px 0px;
}

h5 {
  margin-bottom: 20px;
}

.table {
  width: 40%;
}

.btn-sm {
  margin-left: 20px;
  padding: 0px;
  width: 35px;
  height: 35px;
  border-radius: 20px;
  border-width: 2px;
}

.btn-primary {
  width: 160px;
  padding: 0px 10px;
}

.btn-warning {
  margin-top: 30px;
}

.th-check {
  width: 20%;
}

i.fa-trash-alt, i.fa-plus, i.fa-info {
  margin-bottom: 15%;
}

i.fa-info {
  margin-right: 5px;
}


//---------------------*Модальное окно*---------------------------

.modal-dialog {
  max-width: 50%;
}

.modal-body .table {
  width: 100%;
}

.modal-header {
  display: inline;
}

.modal-footer .btn {
  padding: 0.2rem 2rem;
}
