/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  overflow: initial;
}

.container {
  width: auto;
}

.navbar-inverse {
  .navbar-nav {
    li {

      a {
        color: #000000;
      }

      a:hover {
        color: #ffffff;
        background-color: transparent;
      }
    }
  }
}
